<modal-dialog v-bind:title="PanelTitle" id="saveRoleModal">
    <h4 slot="header" class="modal-title text-center" id="myModalLabel" style="font-weight:bold;">{{PanelTitle}}</h4>
    <form slot="body" class="form-horizontal" role="form" style="margin-bottom:-20px;">
        <div class="form-group">
            <label for="RoleName" class="col-md-3 control-label hidden-xs hidden-sm">角色名称</label>
            <div class="col-md-8">
                <input v-model="frm.Name" type="text" class="form-control" id="RoleName" placeholder="请输入角色名称">
            </div>
            <div v-if="!isRoleNameValid" class="col-md-push-3 col-md-8" style="color:red">角色名称只能由2-20个字符组成</div>
        </div>
        <div class="form-group">
            <label for="RoleName" class="col-md-3 control-label hidden-xs hidden-sm">权限</label>
            <div class="col-md-8">
                <menu-tree v-on:refresh="changeSelectedItems" style="margin-left:-40px;" v-bind:items="menus" v-bind:all-items="menus" v-bind:selected-items.camel="frm.Auths"></menu-tree>
            </div>
        </div>
        <div class="form-group">
            <label for="Level" class="col-md-3 control-label hidden-xs hidden-sm">级别</label>
            <div class="col-md-8">
                <input v-model.number="frm.Level" type="number" class="form-control" id="Level" placeholder="请输入级别">
            </div>
            <div v-if="!isLevelValid" class="col-md-push-3 col-md-8" style="color:red">级别不能超过{{Level-1}}</div>
        </div>
        <div class="form-group">
            <label for="Remark" class="col-md-3 control-label hidden-xs hidden-sm">备注</label>
            <div class="col-md-8">
                <textarea v-model="frm.Remark" class="form-control" rows="4" id="Remark" placeholder="请输入备注"></textarea>
            </div>
            <div v-if="!isRemarkValid" class="col-md-push-3 col-md-8" style="color:red">备注不能超过600个字符</div>
        </div>
    </form>
    <div slot="footer" class="form-group">
        <div class="col-md-8 col-md-offset-3">
            <button class="btn btn-info pull-left" data-dismiss="modal"> 关闭</button>
            <button class="btn btn-primary pull-right" v-on:click.stop.prevent="save" v-bind:disabled="IsDisabled">保存</button>
        </div>
    </div>
</modal-dialog>