/MVC/GrainManage.Web/bin
/Libraries/GrainManage.Autofac/bin
/Libraries/GrainManage.Proxy/bin
/Libraries/GrainManage.Data.Model/bin
/Libraries/GrainManage.Core.EF.Test/bin
/Libraries/GrainManage.Core.EF/bin
/Libraries/GrainManage.Business.Interface/bin
/Libraries/GrainManage.Business/bin
/Libraries/GrainManage.Data.Service/bin
/Libraries/GrainManage.Core/bin
/Libraries/GrainManage.Entities/bin
/Libraries/GrainManage.Encrypt/bin
/Libraries/GrainManage.Data.Pattern/bin
/WebApi/GrainManage.Server/bin
/Libraries/GrainManage.Encrypt/obj
/Libraries/GrainManage.Data.Service/obj
/Libraries/GrainManage.Data.Pattern/obj
/Libraries/GrainManage.Data.Model/obj
/Libraries/GrainManage.Core.EF.Test/obj
/Libraries/GrainManage.Core.EF/obj
/Libraries/GrainManage.Core/obj
/Libraries/GrainManage.Business.Interface/obj
/Libraries/GrainManage.Business/obj
/Libraries/GrainManage.Autofac/obj
/WebApi/GrainManage.Server/obj
/MVC/GrainManage.Web/obj
/Libraries/GrainManage.Proxy/obj
/Libraries/GrainManage.Entities/obj
/*.suo
/*.gitignore
/WebApi/GrainManage.Server/aspnet_client
/MVC/GrainManage.Web/aspnet_client
/TestResults
/Libraries/GrainManage.Api.Interface/bin
/Libraries/GrainManage.Api.Interface/obj
/Libraries/GrainManage.Common/bin
/Libraries/GrainManage.Common/obj
/Libraries/GrainManage.Autofac
/Libraries/GrainManage.Business.Interface
/Tests/GrainManage.Proxy.Tests/bin
/Tests/GrainManage.Proxy.Tests/obj
/Libraries/GrainManage.Cache/bin
/Libraries/GrainManage.Cache/obj
/WebApi/GrainManage.Server/App_Data
/MVC/GrainManage.Web/Properties/PublishProfiles/*.pubxml
/MVC/GrainManage.Web/Properties/PublishProfiles/*.user
/Libraries/DataBase.GrainManage/obj
/Libraries/DataBase.GrainManage/bin
/WebApi/GrainManage.Server/HelpXml/*.XML
/Libraries/GrainManage.Entities/App_Data/*.XML
/WebApi/GrainManage.Server/*.log
/Tests/GrainManage.Data.Tests/obj
/Tests/GrainManage.Data.Tests/bin
/WebApi/GrainManage.Server/Properties/PublishProfiles
/Libraries/DataBase.ChinaMap/bin
/Libraries/DataBase.ChinaMap/obj
/MVC/GrainManage.Web/*.user
/WebApi/GrainManage.Server/logs
/MVC/GrainManage.Web/logs
/Libraries/GrainManage.Message/bin
/Libraries/GrainManage.Message/obj
/Libraries/Grainmanage.Dal/bin
/Libraries/Grainmanage.Dal/obj
/GrainManage.Web/bin
/GrainManage.Web/obj
/GrainManage.Web/logs
/.vs/GrainManage.All.MVC/v14/*.suo
/.vs/config/applicationhost.config
