/*.suo
/GrainManage.Web/bin
/Libraries/DataBase.GrainManage/bin
/Libraries/GrainManage.Common/bin
/Libraries/GrainManage.Core/bin
/Libraries/GrainManage.Encrypt/bin
/Libraries/GrainManage.Message/bin
/GrainManage.Web/obj
/Libraries/DataBase.GrainManage/obj
/Libraries/GrainManage.Common/obj
/Libraries/GrainManage.Core/obj
/Libraries/GrainManage.Encrypt/obj
/Libraries/GrainManage.Message/obj
/.vs
/Libraries/GrainManage.Dal/bin
/Libraries/GrainManage.Dal/obj
/GrainManage.Web/GrainManage.Web.csproj.user
/GrainManage.Web/url_all.txt
/GrainManage.Web/url.txt
/GrainManage.Web/Properties/PublishProfiles
/GrainManage.Web/appsettings.Production.json
/GrainManage.Web/appsettings.Test.json
/GrainManage.Web/appsettings.OnlineTest.json
/GrainManage.Web/App_Data
