<modal-dialog v-bind:title="PanelTitle" id="saveContactModal">
    <h4 slot="header" class="modal-title text-center" id="myModalLabel" style="font-weight:bold;">{{PanelTitle}}</h4>
    <form slot="body" class="form-horizontal" role="form" style="margin-top:10px;">
        <div class="form-group" v-bind:class="{'has-error':!isContactNameValid}">
            <label for="ContactName" class="col-md-3 control-label hidden-xs hidden-sm">客户姓名</label>
            <div class="col-md-8">
                <input v-model="frm.ContactName" type="text" class="form-control" id="ContactName" placeholder="请输入客户姓名">
            </div>
            <div v-if="!isContactNameValid" class="col-md-push-3 col-md-8" style="color:red">客户姓名只能由2-4个汉字组成</div>
        </div>
        <div class="form-group" v-bind:class="{'has-error':!isPhoneValid}">
            <label for="Mobile" class="col-md-3 control-label hidden-xs hidden-sm">手机号码</label>
            <div class="col-md-8">
                <input v-model="frm.Mobile" type="text" class="form-control" id="Mobile" placeholder="请输入手机号码">
            </div>
            <div v-if="!isPhoneValid" class="col-md-push-3 col-md-8" style="color:red">手机号码格式不正确</div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label hidden-xs hidden-sm">地址识别</label>
            <div class="col-md-8">
                <label class="checkbox-inline">
                    <input v-model="AddressType" type="radio" value="manual"><span>手工填写</span>
                </label>
                <label class="checkbox-inline">
                    <input v-model="AddressType" type="radio" value="baidu"> <span>百度定位</span>
                </label>
                <label class="checkbox-inline">
                    <input v-model="AddressType" type="radio" value="google"> <span>谷歌定位</span>
                </label>
            </div>
            <div class="col-md-push-3 col-md-8 "><p class="text-info" style="color:red">{{GeoMsg}}</p></div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label hidden-xs hidden-sm">联系地址</label>
            <div class="col-md-8">
                <input v-model="frm.Address" type="text" class="form-control" id="Address" placeholder="请输入联系地址">
            </div>
        </div>
        <div class="form-group" v-bind:class="{'has-error':!isWeixinValid}">
            <label for="Weixin" class="col-md-3 control-label hidden-xs hidden-sm">微信号</label>
            <div class="col-md-8">
                <input v-model="frm.Weixin" type="text" class="form-control" id="Weixin" placeholder="请输入微信号">
            </div>
            <div v-if="!isWeixinValid" class="col-md-push-3 col-md-8" style="color:red">微信号只能由5-20个英文字母、下划线及数字组成</div>
        </div>
        <div class="form-group" v-bind:class="{'has-error':!isQQValid}">
            <label for="QQ" class="col-md-3 control-label hidden-xs hidden-sm">QQ</label>
            <div class="col-md-8">
                <input v-model="frm.QQ" type="text" class="form-control" id="QQ" placeholder="请输入QQ">
            </div>
            <div v-if="!isQQValid" class="col-md-push-3 col-md-8" style="color:red">QQ格式不正确</div>
        </div>
        <div class="form-group" v-bind:class="{'has-error':!isEmailValid}">
            <label for="Email" class="col-md-3 control-label hidden-xs hidden-sm">邮箱地址</label>
            <div class="col-md-8">
                <input v-model="frm.Email" type="text" class="form-control" id="Email" placeholder="请输入邮箱地址">
            </div>
            <div v-if="!isEmailValid" class="col-md-push-3 col-md-8" style="color:red">邮箱格式不正确</div>
        </div>
        <div class="form-group" v-bind:class="{'has-error':!isRemarkValid}">
            <label for="Remark" class="col-md-3 control-label hidden-xs hidden-sm">其他信息</label>
            <div class="col-md-8">
                <textarea v-model="frm.Remark" class="form-control" rows="4" id="Remark" placeholder="请输入其他信息"></textarea>
            </div>
            <div v-if="!isRemarkValid" class="col-md-push-3 col-md-8" style="color:red">附加信息不能超过200个字符</div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-3">
                <button class="btn btn-info pull-left" data-dismiss="modal"> 关闭</button>
                <button class="btn btn-primary pull-right" v-on:click.stop.prevent="save" v-bind:disabled="IsDisabled">保存</button>
            </div>
        </div>
    </form>
    <div slot="footer" style="display:none"></div>
</modal-dialog>