<modal-dialog id="historyModal" is-lg="true">
    <h4 slot="header" class="modal-title text-center" id="myModalLabel" style="font-weight:bold;">交易历史</h4>
    <div slot="body" class="table-responsive">
        <table class="table table-bordered table-hover modal-lg">
            <thead>
                <tr>
                    <th>产品名称</th>
                    <th>产品价格</th>
                    <th>产品重量</th>
                    <th>计算金额</th>
                    <th>成交金额</th>
                    <th>交易类型</th>
                    <th>交易时间</th>
                    <th>创建人</th>
                </tr>
            </thead>
            <tbody v-cloak>
                <tr v-for="item in tradeList" :key="item.Id">
                    <td>{{item.ProductName}}</td>
                    <td>{{item.Price}}</td>
                    <td>{{item.Weight}}</td>
                    <td>{{(item.Price*item.Weight).toFixed(2)}}</td>
                    <td>{{item.ActualMoney}}</td>
                    <td>{{item.TradeType==1?'出售':'收购'}}</td>
                    <td>{{item.CreatedAt|formatTime}}</td>
                    <td>{{item.Creator}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div slot="footer" style="display:none"></div>
</modal-dialog>