<modal-dialog id="historyModal" other-class="modal-lg">
    <h4 slot="header" class="modal-title text-center" id="myModalLabel" style="font-weight:bold;">交易历史</h4>
    <div slot="body" class="table-responsive">
        <table class="table table-bordered table-hover modal-lg">
            <thead>
                <tr>
                    <th>总金额</th>
                    <th>已付金额</th>
                    <th>交易详情</th>
                    <th>交易时间</th>
                </tr>
            </thead>
            <tbody v-cloak>
                <tr v-for="item in tradeList" :key="item.Id">
                    <td>
                        <span>{{toFixed(getTotalMoney(item.Details))}}</span>
                        <br /><br />
                        <span style="color:blue;">[{{item.TradeType==1?'出售':'收购'}}]</span>
                    </td>
                    <td>
                        <span>{{toFixed(item.PaidMoney)}}</span>
                        <br /><br />
                        <span v-if="(item.PaidMoney!=getTotalMoney(item.Details))" style="color:green;">
                            [{{getStatus(item.PaidMoney-getTotalMoney(item.Details))}}]
                        </span>
                        <span style="color:red;" v-else>
                            [{{getStatus(item.PaidMoney-getTotalMoney(item.Details))}}]
                        </span>
                    </td>
                    <td>
                        <table class="table table-bordered table-striped" style="margin:0">
                            <thead>
                                <tr>
                                    <th>类别</th>
                                    <th>毛重</th>
                                    <th>皮重</th>
                                    <th>价格</th>
                                    <th>净重</th>
                                    <th>金额</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item2,index) in item.Details">
                                    <td>{{item2.ProductName}}</td>
                                    <td>{{toFixed(item2.RoughWeight)}}</td>
                                    <td>{{toFixed(item2.Tare)}}</td>
                                    <td>{{toFixed(item2.Price)}}</td>
                                    <td>{{toFixed(item2.RoughWeight-item2.Tare)}}</td>
                                    <td>{{toFixed((item2.RoughWeight-item2.Tare)*item2.Price)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <span>{{item.CreatedAt|formatTime}}</span>
                        <br /><br />
                        <span>{{item.Creator}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</modal-dialog>