@using GrainManage.Web
@{
    ViewBag.Title = "联系人列表";
}
<div class="container" id="contactInfo">
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-pane fade in active">
                <div class="form-inline" role="form">
                    <div class="form-group" style="margin-right:6px;">
                        <label class="control-label hidden-xs hidden-sm">姓名：</label>
                        <input type="text" class="form-control" v-model="search.Name" placeholder="请输入姓名" />
                    </div>
                    <div class="form-group" style="margin-right:6px;">
                        <label class="control-label hidden-xs hidden-sm">区域：</label>
                        <input type="text" class="form-control" v-model="search.Area" placeholder="请输入区域" />
                    </div>
                    <div class="form-group" style="margin-right:6px;">
                        <label class="control-label hidden-xs hidden-sm">详细地址：</label>
                        <input type="text" class="form-control" v-model="search.Address" placeholder="请输入详细地址" />
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-block" v-on:click="getData">查询</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" style="margin-top:20px;">
                    <thead>
                        <tr>
                            <th>操作</th>
                            <th>姓名</th>
                            <th>手机</th>
                            <th>区域</th>
                            <th>性别</th>
                            <th>QQ</th>
                            <th>邮箱</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in list">
                            <td>
                                <a class="edit" v-on:click="edit(item)">编辑</a>
                                <span>&nbsp;&nbsp;</span>
                                <a class="trade" v-on:click="trade(item)">交易</a>
                            </td>
                            <td>{{item.ContactName}}</td>
                            <td>{{item.CellPhone}}</td>
                            <td v-bind:title="item.Address">{{item.Area}}</td>
                            <td>{{item.Gender}}</td>
                            <td>{{item.QQ}}</td>
                            <td>{{item.Email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <pager v-on:reload="getData" v-bind:total="total" v-bind:page-index.sync="search.PageIndex" v-bind:page-size.sync="search.PageSize"></pager>
        </div>
    </div>
</div>
<script>
    $(function () {
        new Vue({
            el: "#contactInfo",
            data: {
                total: 0,
                list: [],
                search: { Name: '', Area: '', Address: '', PageIndex: 0, PageSize: 10 }
            },
            created: function () {
                this.getData();
            },
            methods: {
                getData: function () {
                    $.post('@HttpUtil.GetUrl("Contact/Index")', this.$data.search).done(function (result, status) {
                        this.list = result.data;
                        this.total = result.total;
                        if (result.code != 1) {

                        }
                    }.bind(this));
                },
                edit: function (item) {
                    alert(item.Id);
                },
                trade: function (item) {
                    alert(item.Id);
                }
            },
            filters: {
                format: function (date) {
                    return date ? new Date(date).Format("yyyy-MM-dd") : '';
                }
            }
        })
    })
</script>
