@using GrainManage.Web
@{
    ViewBag.Title = "联系人列表";
}
<div class="container" id="contactInfo">
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-pane fade in active">
                <div class="form-inline" role="form">
                    <div class="form-group" style="margin-right:6px;">
                        <label class="control-label hidden-xs hidden-sm">姓名：</label>
                        <input type="text" class="form-control" v-model="search.Name" placeholder="请输入姓名" />
                    </div>
                    <div class="form-group" style="margin-right:6px;">
                        <label class="control-label hidden-xs hidden-sm">区域：</label>
                        <input type="text" class="form-control" v-model="search.Area" placeholder="请输入区域" />
                    </div>
                    <div class="form-group" style="margin-right:6px;">
                        <label class="control-label hidden-xs hidden-sm">详细地址：</label>
                        <input type="text" class="form-control" v-model="search.Address" placeholder="请输入详细地址" />
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-block" v-on:click="getData">查询</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" style="margin-top:20px;">
                    <thead>
                        <tr>
                            <th>操作</th>
                            <th>姓名</th>
                            <th>手机</th>
                            <th>地址</th>
                            <th class="hidden-xs hidden-sm">微信</th>
                            <th class="hidden-xs hidden-sm">QQ</th>
                            <th class="hidden-xs hidden-sm">邮箱</th>
                            <th class="hidden-xs hidden-sm">性别</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in list">
                            <td>
                                <a class="edit" v-on:click="edit(item)">编辑</a>
                                <span>&nbsp;&nbsp;</span>
                                <a class="trade" v-on:click="trade(item)">交易</a>
                            </td>
                            <td>{{item.ContactName}}</td>
                            <td>{{item.CellPhone}}</td>
                            <td>{{item.Address}}</td>
                            <td class="hidden-xs hidden-sm">{{item.Weixin}}</td>
                            <td class="hidden-xs hidden-sm">{{item.QQ}}</td>
                            <td class="hidden-xs hidden-sm">{{item.Email}}</td>
                            <td class="hidden-xs hidden-sm">{{item.Gender}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <pager v-on:reload="getData" v-bind:total="total" v-bind:page-index.sync="search.PageIndex" v-bind:page-size.sync="search.PageSize"></pager>
        </div>
    </div>
    @Html.Partial("EditContact")
    <modal-dialog title="修改联系人提示" v-bind:msg="msg"></modal-dialog>
</div>
<script type="text/javascript" src="https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js"></script>
<script>
    $(function () {
        new Vue({
            el: "#contactInfo",
            data: {
                total: 0,
                list: [],
                search: { Name: '', Area: '', Address: '', PageIndex: 0, PageSize: 10 },
                frm: {
                    Id: 0,
                    ContactName: '',
                    CellPhone: '',
                    Address: '',
                    BirthDate: null,
                    Weixin: '',
                    QQ: '',
                    Email: '',
                    Gender: '男',
                    Remark: ''
                },
                IsDisabled: false,
                AddressType: 'manual',
                GeoMsg: '',
                msg: ''
            },

            methods: {
                getData: function () {
                    $.post('@HttpUtil.GetUrl("Contact/Index")', this.$data.search).done(function (result, status) {
                        this.list = result.data;
                        this.total = result.total;
                        if (result.code != 1) {
                            this.msg = result.msg;
                            $("#myModal").modal({ backdrop: 'static' });
                        }
                    }.bind(this));
                },
                edit: function (item) {
                    this.frm.Id = item.Id;
                    this.frm.ContactName = item.ContactName;
                    this.frm.CellPhone = item.CellPhone;
                    this.frm.Address = item.Address;
                    this.frm.BirthDate = item.BirthDate;
                    this.frm.Weixin = item.Weixin;
                    this.frm.QQ = item.QQ;
                    this.frm.Email = item.Email;
                    this.frm.Gender = item.Gender;
                    this.frm.Remark = item.Remark;
                    $("#editContactModal").modal({ backdrop: 'static' });
                },
                editContact: function (event) {
                    if (this.isContactNameValid && this.isEmailValid && this.isPhoneValid && this.isQQValid && this.isWeixinValid) {
                        this.IsDisabled = true;
                        $.post('@HttpUtil.GetUrl("Contact/EditContact")', this.frm).always(function (result, status) {
                            this.IsDisabled = false;
                            this.msg = result.msg;
                            if (result.code == 1) {
                                $("#editContactModal").modal('hide');
                                this.getData();
                            }
                            else {
                                $("#myModal").modal({ backdrop: 'static' });
                            }
                        }.bind(this));
                    }
                    else {
                        this.msg = '有信息格式不正确,请重新确认';
                        $("#myModal").modal({ backdrop: 'static' });
                    }
                },
                showPosition: function (latitude, longitude, accuracy) {
                    var latlon = latitude + ',' + longitude;
                    var self = this;
                    if (this.AddressType == 'baidu') {
                        var baidu_url = "http://api.map.baidu.com/geocoder/v2/?ak=C93b5178d7a8ebdb830b9b557abce78b&callback=renderReverse&location=" + latlon + "&output=json&pois=0";
                        $.ajax({
                            type: "GET",
                            dataType: "jsonp",
                            url: baidu_url,
                            beforeSend: function () {
                                self.GeoMsg = '正在定位...';
                            },
                            success: function (json) {
                                self.GeoMsg = '';
                                if (json.status == 0) {
                                    self.frm.Address = json.result.formatted_address;
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                self.GeoMsg = "定位失败,无法从baidu获取位置信息";
                            }
                        });
                    } else if (this.AddressType == 'google') {
                        var google_url = 'https://maps.google.cn/maps/api/geocode/json?latlng=' + latlon + '&language=CN';
                        $.ajax({
                            type: "GET",
                            url: google_url,
                            beforeSend: function () {
                                self.GeoMsg = '正在定位...';
                            },
                            success: function (json) {
                                if (json.status == 'OK') {
                                    self.GeoMsg = '';
                                    var results = json.results;
                                    $.each(results, function (index, array) {
                                        if (index == 0) {
                                            self.frm.Address = array['formatted_address'];
                                        }
                                    });
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                self.GeoMsg = "定位失败,无法从google获取位置信息";
                            }
                        });
                    }
                },
                setPosition: function (position) {
                    this.showPosition(position.coords.latitude, position.coords.longitude);
                },
                setError: function (error) {
                    switch (error.code) {
                        case error.PERMISSION_DENIED:
                            this.GeoMsg = "定位失败,用户拒绝请求地理定位。" + error.message;
                            break;
                        case error.POSITION_UNAVAILABLE:
                            this.GeoMsg = "定位失败,位置信息不可用。" + error.message;
                            break;
                        case error.TIMEOUT:
                            this.GeoMsg = "定位失败,请求获取用户位置超时。" + error.message;
                            break;
                        case error.UNKNOWN_ERROR:
                            this.GeoMsg = "定位失败,定位系统失效。" + error.message;
                            break;
                    }
                },
                setTencentPosition: function (result) {
                    this.showPosition(result.lat, result.lng, result.accuracy);
                },
                setTencentError: function (err) {
                    if (err) {
                        this.GeoMsg = err;
                    }
                    else {
                        this.GeoMsg = '腾讯定位接口出错。';
                    }
                },
                getLocation: function () {
                    if (this.AddressType == 'baidu' || this.AddressType == 'google') {
                        if (window.location.protocol == 'https:' || navigator.userAgent.indexOf('Android') > -1 || navigator.userAgent.indexOf('Adr') > -1) {
                            if (navigator.geolocation) {
                                navigator.geolocation.getCurrentPosition(this.setPosition, this.setError, { enableHighAcuracy: true, timeout: 5000, maximumAge: 3000 });
                            } else {
                                this.GeoMsg = "浏览器不支持地理定位。";
                            }
                        }
                        else {
                            var geolocation = new qq.maps.Geolocation("OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77", "myapp");
                            geolocation.getLocation(this.setTencentPosition, this.setTencentError);
                        }
                    }
                    else {
                        this.GeoMsg = '';
                        this.frm.Address = '';
                    }
                }
            },
            computed: {
                isContactNameValid: function () {
                    return (/^[\u4E00-\u9FA5\uF900-\uFA2D]{2,4}$/g).test(this.frm.ContactName);
                },
                isEmailValid: function () {
                    return !this.frm.Email || (/^\w+([-+.]\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$/g).test(this.frm.Email);
                },
                isPhoneValid: function () {
                    return (/^1[34578]\d{9}$/g).test(this.frm.CellPhone);
                },
                isQQValid: function () {
                    return !this.frm.QQ || (/^\d{4,12}$/g).test(this.frm.QQ);
                },
                isWeixinValid: function () {
                    return !this.frm.Weixin || (/^[a-zA-Z\d_]{5,20}$/g).test(this.frm.Weixin);
                },
                isRemarkValid: function () {
                    return (/^.{0,200}$/g).test(this.frm.Remark);
                }
            },
            created: function () {
                this.getData();
                this.$watch('frm.ContactName', function (newVal, oldVal) {
                    if (!this.isContactNameValid) {
                        $("#ContactName").popover('show');
                    }
                    else {
                        $("#ContactName").popover('hide');
                    }
                });
                this.$watch('AddressType', function (newVal, oldVal) {
                    this.getLocation();
                });
            }
        })
    })
</script>
