@using GrainManage.Web
@model GrainManage.Web.Models.UserInfo
<div class="container" id="actionInfo">
    <div class="row">
        <div class="col-md-11">
            <div class="tab-pane fade in active">
                <div class="form-inline" role="form">
                    <div class="form-group" style="margin-right:6px;">
                        <input type="text" class="form-control"  v-model="search.Name" placeholder="请输入用户名" />
                    </div>
                    <div class="form-group" style="margin-right:6px;">
                        <input type="text" class="form-control" v-model="search.Path" placeholder="请输入调用路径" />
                    </div>
                    <div class="form-group" style="margin-right:6px;">
                        <label class="control-label hidden-xs hidden-sm">开始时间：</label>
                        <input type="date" class="form-control" style="max-width:160px;" id="StartTime" placeholder="请选择开始时间" />
                    </div>
                    <div class="form-group" style="margin-right:6px;">
                        <label class="control-label hidden-xs hidden-sm">终止时间：</label>
                        <input type="date" class="form-control" style="max-width:160px;" id="EndTime" placeholder="请选择终止时间" />
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-block" v-on:click="getData(search.PageIndex=0)">查询</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <caption style="color:red;font-weight:bolder;">访问日志</caption>
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>用户名</th>
                            <th>路径</th>
                            <th>请求方法</th>
                            <th>状态</th>
                            <th>客户端IP</th>
                            <th>调用时间</th>
                            <th>耗时</th>
                        </tr>
                    </thead>
                    <tbody v-cloak>
                        <tr v-for="item in list" v-bind:title="item.Para" :key="item.Id">
                            <td>{{item.Id}}</td>
                            <td>{{item.UserName}}</td>
                            <td>{{item.Path}}</td>
                            <td>{{item.Method}}</td>
                            <td>{{item.Status}}</td>
                            <td style="white-space:nowrap;">{{item.ClientIP}}</td>
                            <td style="white-space:nowrap;">{{item.StartTime|formatTime}}</td>
                            <td style="white-space:nowrap;">{{item.TimeSpan}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <pager v-on:reload="getData" v-bind:total="total" v-bind:page-index.sync="search.PageIndex" v-bind:page-size.sync="search.PageSize"></pager>
        </div>
    </div>
    <modal-dialog title="提示" v-bind:msg="msg"></modal-dialog>
</div>
<script>
    $(function () {
        $("#StartTime").val(new Date().format("yyyy-MM-dd"));
        new Vue({
            el: "#actionInfo",
            data: {
                msg: '',
                total: 0,
                list: [],
                search: { Name: '', Path: '', StartTime: null, EndTime: null, PageIndex: 0, PageSize: 10 },
                isFirstTime: true
            },
            methods: {
                getData: function () {
                    this.search.StartTime = $("#StartTime").val();
                    this.search.EndTime = $("#EndTime").val();
                    $.post('@UrlVar.Log_ActionList', this.search).always(function (result, status) {
                        this.list = result.data;
                        this.total = result.total;
                        if (result.code != 1 && !this.isFirstTime) {
                            this.showAlert(result.msg);
                        }
                        this.isFirstTime = false;
                    }.bind(this));
                }
            },
            created: function () {
                this.getData();
            }
        })
        $("#StartTime").val(new Date().format("yyyy-MM-dd"));
    })
</script>