@using GrainManage.Web
@model GrainManage.Web.Models.UserInfo
<div class="container" id="exceptionInfo">
    <div class="row">
        <div class="col-md-11">
            <div class="tab-pane fade in active">
                <div class="form-inline" role="form">
                    <div class="form-group" style="margin-right:6px;">
                        <label class="control-label hidden-xs hidden-sm">调用路径：</label>
                        <input type="text" class="form-control" v-model="search.Path" placeholder="请输入调用路径" />
                    </div>
                    <div class="form-group" style="margin-right:6px;">
                        <label class="control-label hidden-xs hidden-sm">开始时间：</label>
                        <input type="date" class="form-control" id="StartTime" placeholder="请选择开始时间" />
                    </div>
                    <div class="form-group" style="margin-right:6px;">
                        <label class="control-label hidden-xs hidden-sm">终止时间：</label>
                        <input type="date" class="form-control" id="EndTime" placeholder="请选择终止时间" />
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-block" v-on:click="getData(search.PageIndex=0)">查询</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <caption style="color:red;font-weight:bolder;">异常日志</caption>
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>路径</th>
                            <th>输入参数</th>
                            <th>异常信息</th>
                            <th>客户端IP</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody v-cloak>
                        <tr v-for="item in list" v-bind:title="item.StackTrace">
                            <td>{{item.Id}}</td>
                            <td>{{item.Path}}</td>
                            <td>{{item.Para}}</td>
                            <td>{{item.Message}}</td>
                            <td style="white-space:nowrap;">{{item.ClientIP}}</td>
                            <td style="white-space:nowrap;">{{item.CreatedAt|formatTime}}</td>
                            @if (UrlVar.Has(Model.Level, UrlVar.Log_DeleteException, Model.Urls))
                            {
                                <td style="white-space:nowrap;"><a style="cursor:pointer" v-on:click="del(item)">删除</a></td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <pager v-on:reload="getData" v-bind:total="total" v-bind:page-index.sync="search.PageIndex" v-bind:page-size.sync="search.PageSize"></pager>
        </div>
    </div>
    <modal-dialog title="提示" v-bind:msg="msg"></modal-dialog>
</div>
<script>
    $(function () {
        $("#StartTime").val(new Date().format("yyyy-MM-dd"));
        new Vue({
            el: "#exceptionInfo",
            data: {
                msg: '',
                total: 0,
                list: [],
                search: { Path: '', StartTime: null, EndTime: null, PageIndex: 0, PageSize: 10 },
            },
            methods: {
                getData: function () {
                    this.search.StartTime = $("#StartTime").val();
                    this.search.EndTime = $("#EndTime").val();
                    $.post('@UrlVar.Log_ExceptionList', this.search).always(function (result, status) {
                        this.list = result.data;
                        this.total = result.total;
                        if (result.code != 1 && result.code != 9) {
                            this.showAlert(result.msg);
                        }
                    }.bind(this));
                },
                del: function (item) {
                    $.post('@UrlVar.Log_DeleteException', { Id: item.Id }).always(function () {
                        for (var i = 0; i < this.list.length; i++) {
                            if (this.list[i].Id == item.Id) {
                                this.list.splice(i, 1);
                            }
                        }
                    }.bind(this))
                }
            },
            created: function () {
                this.getData();
            }
        })
        $("#StartTime").val(new Date().format("yyyy-MM-dd"));
    })
</script>