<modal-dialog v-bind:title="PanelTitle" id="saveUserModal">
    <h4 slot="header" class="modal-title text-center" id="myModalLabel" style="font-weight:bold;">{{PanelTitle}}</h4>
    <form slot="body" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="UserName" class="col-md-3 control-label hidden-xs hidden-sm">用户名</label>
            <div class="col-md-8">
                <input v-model="frm.UserName" type="text" class="form-control" id="UserName" placeholder="请输入用户名">
            </div>
            <span v-if="!isUserNameValid" class="col-md-push-3 col-md-8" style="color:red">用户名只能由2-20个字符组成</span>
        </div>
        <div v-if="frm.Id==0" class="form-group">
            <label for="Code" class="col-md-3 control-label hidden-xs hidden-sm">密码</label>
            <div class="col-md-8">
                <input v-model="tmpPwd" type="password" class="form-control" id="Pwd" placeholder="请输入密码">
            </div>
            <span v-if="!isPwdValid" class="col-md-push-3 col-md-8" style="color:red">密码只能由2-20个字符组成</span>
        </div>
        <div class="form-group">
            <label for="Code" class="col-md-3 control-label hidden-xs hidden-sm">真实姓名</label>
            <div class="col-md-8">
                <input v-model="frm.RealName" type="text" class="form-control" id="RealName" placeholder="请输入真实姓名">
            </div>
            <span v-if="!isRealNameValid" class="col-md-push-3 col-md-8" style="color:red">真实姓名只能由2-4个汉字组成</span>
        </div>
        <div class="form-group">
            <label for="Mobile" class="col-md-3 control-label hidden-xs hidden-sm">手机号码</label>
            <div class="col-md-8">
                <input v-model="frm.Mobile" type="text" class="form-control" id="Mobile" placeholder="请输入手机号码">
            </div>
            <span v-if="!isMobileValid" class="col-md-push-3 col-md-8" style="color:red">手机号码格式不正确</span>
        </div>
        <div class="form-group" v-bind:class="{'has-error':!isWeixinValid}">
            <label for="Weixin" class="col-md-3 control-label hidden-xs hidden-sm">微信号</label>
            <div class="col-md-8">
                <input v-model="frm.Weixin" type="text" class="form-control" id="Weixin" placeholder="请输入微信号">
            </div>
            <span v-if="!isWeixinValid" class="col-md-push-3 col-md-8" style="color:red">微信号只能由5-20个英文字母、下划线及数字组成</span>
        </div>
        <div class="form-group">
            <label for="QQ" class="col-md-3 control-label hidden-xs hidden-sm">QQ</label>
            <div class="col-md-8">
                <input v-model="frm.QQ" type="text" class="form-control" id="QQ" placeholder="请输入QQ">
            </div>
            <span v-if="!isQQValid" class="col-md-push-3 col-md-8" style="color:red">QQ格式不正确</span>
        </div>
        <div class="form-group">
            <label for="Email" class="col-md-3 control-label hidden-xs hidden-sm">邮箱</label>
            <div class="col-md-8">
                <input v-model="frm.Email" type="text" class="form-control" id="Email" placeholder="请输入邮箱地址">
            </div>
            <span v-if="!isEmailValid" class="col-md-push-3 col-md-8" style="color:red">邮箱格式不正确</span>
        </div>
        <div class="form-group" v-bind:class="{'has-error':!isAddressValid}">
            <label for="Address" class="col-md-2 control-label hidden-xs hidden-sm">住址</label>
            <div class="col-md-8">
                <input v-model="frm.Address" type="text" class="form-control" id="Address" placeholder="请输入地址">
            </div>
            <span v-if="!isAddressValid" class="col-md-2" style="color:red">住址不能超过60个字符不正确</span>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label hidden-xs hidden-sm">性别</label>
            <div class="col-md-8">
                <label class="checkbox-inline">
                    <input v-model="frm.Gender" type="radio" value="0"><span>男</span>
                </label>
                <label class="checkbox-inline">
                    <input v-model="frm.Gender" type="radio" value="1"><span>女</span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="Code" class="col-md-3 control-label hidden-xs hidden-sm">角色</label>
            <div class="col-md-8">
                <label class="checkbox-inline" v-for="role in roleList">
                    <input v-model="frm.Roles" type="checkbox" v-bind:value="role.value"><span>{{role.text}}</span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="Code" class="col-md-3 control-label hidden-xs hidden-sm">状态</label>
            <div class="col-md-8">
                <label class="checkbox-inline">
                    <input v-model="frm.Status" type="radio" value="1"><span>启用</span>
                </label>
                <label class="checkbox-inline">
                    <input v-model="frm.Status" type="radio" value="0"><span>禁用</span>
                </label>
            </div>
        </div>
        <div class="form-group" v-bind:class="{'has-error':!isRemarkValid}">
            <label for="Remark" class="col-md-3 control-label hidden-xs hidden-sm">其他信息</label>
            <div class="col-md-8">
                <textarea v-model="frm.Remark" class="form-control" rows="4" id="Remark" placeholder="请输入其他信息"></textarea>
            </div>
            <span v-if="!isRemarkValid" class="col-md-push-3 col-md-8" style="color:red">附加信息不能超过200个字符</span>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-3">
                <button class="btn btn-info pull-left" data-dismiss="modal"> 关闭</button>
                <button class="btn btn-primary pull-right" v-on:click.stop.prevent="save" v-bind:disabled="IsDisabled">保存</button>
            </div>
        </div>
    </form>
    <div slot="footer" style="display:none"></div>
</modal-dialog>