@using GrainManage.Web
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@GlobalResx.SysName</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/vue.js"></script>
    <script src="~/js/Crypto/base64.js"></script>
    <script src="~/js/Crypto/sha1.js"></script>
    <script src="~/js/components/modal-dialog.js"></script>
</head>
<body>
    <div id="app" class="container">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-offset-2 col-md-8">
                <ol class="breadcrumb" style="font-size:20px;">
                    <li><a href="@UrlVar.User_SignIn">返回登录页</a></li>
                    <li><a href="#" class="active">注册</a></li>
                </ol>
            </div>
        </div>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-md-2 control-label hidden-xs hidden-sm">用户类型</label>
                <div class="col-md-10">
                    <label class="checkbox-inline">
                        <input v-model="frm.IsShop" type="radio" value="false"><span>普通用户</span>
                    </label>
                    <label class="checkbox-inline">
                        <input v-model="frm.IsShop" type="radio" value="true"> <span>商户</span>
                    </label>
                </div>
            </div>
            <div class="form-group" v-bind:class="{'has-error':!isUserNameValid}">
                <label for="UserName" class="col-md-2 control-label hidden-xs hidden-sm">用户名</label>
                <div class="col-md-10">
                    <input v-model="frm.UserName" type="text" class="form-control" id="UserName" placeholder="请输入用户名"
                           data-toggle="popover" data-placement="bottom" data-content="用户名只能为手机号码或由2-20个英文字母、下划线及数字组成">
                </div>
            </div>
            <div class="form-group" v-bind:class="{'has-error':!isPwdValid}">
                <label for="Pwd" class="col-md-2 control-label hidden-xs hidden-sm">密码</label>
                <div class="col-md-10">
                    <input v-model="Pwd" type="password" class="form-control" id="Pwd" placeholder="请输入密码"
                           data-toggle="popover" data-placement="top" data-content="密码由2-20个字符组成">
                </div>
            </div>
            <div class="form-group">
                <div class="panel-group col-md-10 col-md-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading ">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    填写更多信息
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="form-group" v-bind:class="{'has-error':!isPhoneValid}">
                                    <label for="Mobile" class="col-md-2 control-label hidden-xs hidden-sm">手机号码</label>
                                    <div class="col-md-8">
                                        <input v-model="frm.Mobile" type="text" class="form-control" id="Mobile" placeholder="请输入手机号码">
                                    </div>
                                    <span v-if="!isPhoneValid" class="col-md-2" style="color:red">手机号码格式不正确</span>
                                </div>
                                <div class="form-group" v-bind:class="{'has-error':!isRealNameValid}">
                                    <label for="RealName" class="col-md-2 control-label hidden-xs hidden-sm">真实姓名</label>
                                    <div class="col-md-8">
                                        <input v-model="frm.RealName" type="text" class="form-control" id="RealName" placeholder="请输入真实姓名">
                                    </div>
                                    <span v-if="!isRealNameValid" class="col-md-2" style="color:red">真实姓名只能由2-4个汉字组成</span>
                                </div>
                                <div class="form-group" v-bind:class="{'has-error':!isWeixinValid}">
                                    <label for="Weixin" class="col-md-2 control-label hidden-xs hidden-sm">微信号</label>
                                    <div class="col-md-8">
                                        <input v-model="frm.Weixin" type="text" class="form-control" id="Weixin" placeholder="请输入微信号">
                                    </div>
                                    <span v-if="!isWeixinValid" class="col-md-2" style="color:red">微信号只能由5-20个英文字母、下划线及数字组成</span>
                                </div>
                                <div class="form-group" v-bind:class="{'has-error':!isQQValid}">
                                    <label for="QQ" class="col-md-2 control-label hidden-xs hidden-sm">QQ</label>
                                    <div class="col-md-8">
                                        <input v-model="frm.QQ" type="text" class="form-control" id="QQ" placeholder="请输入QQ">
                                    </div>
                                    <span v-if="!isQQValid" class="col-md-2" style="color:red">QQ格式不正确</span>
                                </div>
                                <div class="form-group" v-bind:class="{'has-error':!isEmailValid}">
                                    <label for="Email" class="col-md-2 control-label hidden-xs hidden-sm">邮箱地址</label>
                                    <div class="col-md-8">
                                        <input v-model="frm.Email" type="text" class="form-control" id="Email" placeholder="请输入邮箱地址">
                                    </div>
                                    <span v-if="!isEmailValid" class="col-md-2" style="color:red">邮箱格式不正确</span>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label hidden-xs hidden-sm">性别</label>
                                    <div class="col-md-10">
                                        <label class="checkbox-inline">
                                            <input v-model="frm.Gender" type="radio" value="0"><span>男</span>
                                        </label>
                                        <label class="checkbox-inline">
                                            <input v-model="frm.Gender" type="radio" value="1"> <span>女</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group" v-bind:class="{'has-error':!isRemarkValid}">
                                    <label for="Remark" class="col-md-2 control-label hidden-xs hidden-sm">其他信息</label>
                                    <div class="col-md-8">
                                        <textarea v-model="frm.Remark" class="form-control" rows="4" id="Remark" placeholder="请输入其他信息"></textarea>
                                    </div>
                                    <span v-if="!isRemarkValid" class="col-md-2" style="color:red">附加信息不能超过200个字符</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:-20px;">
                <div class="col-md-offset-2 col-md-8">
                    <button v-on:click.stop.prevent="register" v-bind:disabled="IsDisabled" class="btn btn-primary btn-block">注册</button>
                </div>
            </div>
        </form>
        <modal-dialog title="注册提示" v-bind:msg="msg"></modal-dialog>
    </div>
    <script>
        $(function () {
            new Vue({
                el: '#app',
                data: {
                    frm: {
                        IsShop:false,
                        UserName: '',
                        Pwd: '',
                        RealName: '',
                        Gender: 0,
                        Mobile: '',
                        Email: '',
                        QQ: '',
                        Weinxin: '',
                        Remark: ''
                    },
                    Pwd: '',
                    IsDisabled: false,
                    msg: ''
                },
                methods: {
                    register: function (event) {
                        if (this.isUserNameValid && this.isPwdValid && this.isEmailValid && this.isPhoneValid && this.isRealNameValid && this.isQQValid && this.isWeixinValid) {
                            this.IsDisabled = true;
                            this.frm.Pwd = new sha1().encrypt(this.Pwd);
                            $.post('@UrlVar.User_Register', this.frm).always(function (result, status) {
                                this.IsDisabled = false;
                                if (result.code == 1) {
                                    var base = new base64();
                                    localStorage.UserName = base.encode(this.frm.UserName);
                                    localStorage.Pwd = base.encode(this.Pwd);
                                    window.location = '@UrlVar.User_SignIn';
                                }
                                else {
                                    this.msg = result.msg;
                                    $("#myModal").modal({ backdrop: 'static' });
                                }
                            }.bind(this));
                        }
                        else {
                            this.msg = '有信息格式不正确,请重新确认';
                            $("#myModal").modal({ backdrop: 'static' });
                        }
                    }
                },
                computed: {
                    isUserNameValid: function () {
                        return ((/^\w{2,20}$/g).test(this.frm.UserName) && !(/^\d+$/g).test(this.frm.UserName)) || (/^1[34578]\d{9}$/g).test(this.frm.UserName);
                    },
                    isPwdValid: function () {
                        return (/^.{2,20}$/g).test(this.Pwd);
                    },
                    isEmailValid: function () {
                        return !this.frm.Email || (/^\w+([-+.]\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$/g).test(this.frm.Email);
                    },
                    isPhoneValid: function () {
                        return !this.frm.Mobile || (/^1[34578]\d{9}$/g).test(this.frm.Mobile);
                    },
                    isRealNameValid: function () {
                        return !this.frm.RealName || (/^[\u4E00-\u9FA5\uF900-\uFA2D]{2,4}$/g).test(this.frm.RealName);
                    },
                    isQQValid: function () {
                        return !this.frm.QQ || (/^\d{4,12}$/g).test(this.frm.QQ);
                    },
                    isWeixinValid: function () {
                        return !this.frm.Weinxin || (/^[a-zA-Z\d_]{5,20}$/g).test(this.frm.Weinxin);
                    },
                    isRemarkValid: function () {
                        return (/^.{0,200}$/g).test(this.frm.Remark);
                    }
                },
                created: function () {
                    this.$watch('frm.UserName', function (newVal, oldVal) {
                        if ((/^1[34578]\d{9}$/g).test(newVal)) {
                            this.frm.Mobile = newVal;
                        }
                        if (!this.isUserNameValid) {
                            $("#UserName").popover('show');
                        }
                        else {
                            $("#UserName").popover('hide');
                        }
                    });
                    this.$watch('Pwd', function (newVal, oldVal) {
                        if (!this.isPwdValid) {
                            $("#Pwd").popover('show');
                        }
                        else {
                            $("#Pwd").popover('hide');
                        }
                    });
                }
            })
        })
    </script>
</body>
</html>