@using GrainManage.Web.Resources

@helper DropDownList(List<string> list)
{
    <select id="pageSize">
        @if (list != null)
        {
            foreach (var item in list)
            {
            <option>
                @item
            </option>
            }
        }
    </select>
}

@helper Button(string text)
{
    <button id="search" style="background-color: transparent; padding: 5px 5px 0px; display: inline-block; border-width: 1px;">@text
        <img src="~/Images/search.png" style="width: 24px; height: 24px; float: left; padding: 0px;" />
    </button>
}

@helper PageSize(int defaultSize)
{
    List<int> sizes = new List<int>
    {
        5,
        10,
        15,
        20,
        30,
        50,
        80,
        100,
        200,
        500
    };
    <select class="form-control" v-model="search.PageSize">
        @foreach (var size in sizes)
        {
            if (size==defaultSize)
            {
            <option selected>
                @size
            </option>
            }
            else
            {
            <option>
                @size
            </option>
            }
        }
    </select>
}

@helper DateRange()
{
    <span class="dateRange">
        <label>@TradeResx.StartTime</label>
        <input id="StartTime" type="datetime" class="Wdate" />

        <label>@TradeResx.EndTime</label>
        <input id="EndTime" type="datetime" class="Wdate" />
    </span>
}