[v-cloak] {
    display: none;
}

.row {
    margin-top: 10px;
}
label.checkbox-inline, label.radio-inline {
    padding-left: 0;
}
.company-title {
    text-align: center;
    font-weight: bold;
    font-family: YouYuan;
    background-color: rgba(0,0,0,0.3);
}

.company-logo {
    width: 100%;
    display: inline-block;
    object-fit: cover;
}

.company-main {
    padding-left: 8px;
    overflow-y: auto;
    height: 80px;
    box-sizing: border-box;
}

    .company-main div:first-child {
        font-weight: bold;
        color: red;
        font-style: italic;
    }

.company-address {
    overflow-y: hidden;
    height: 40px;
    box-sizing: border-box;
}

    .company-address span:first-child {
        font-style: italic;
        padding-left: 2px;
    }
