<modal-dialog v-bind:title="PanelTitle" id="saveTradeModal">
    <h4 slot="header" class="modal-title text-center" id="myModalLabel" style="font-weight:bold;">{{PanelTitle}}</h4>
    <form slot="body" class="form-horizontal" role="form" style="margin-top:10px;">
        <div class="form-group">
            <label for="ContactName" class="col-md-3 control-label hidden-xs hidden-sm">联系人名称</label>
            <div class="col-md-6">
                <input v-model="frmTrade.ContactName" type="text" class="form-control" id="ContactName">
            </div>
            <div class="col-md-3">
                <button v-on:click.stop.prevent="showContact" class="btn btn-info btn-block">选择</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label hidden-xs hidden-sm">交易类型</label>
            <div class="col-md-8">
                <label class="checkbox-inline">
                    <input value="0" v-model="frmTrade.TradeType" type="radio"><span>收购</span>
                </label>
                <label class="checkbox-inline">
                    <input value="1" v-model="frmTrade.TradeType" type="radio"><span>出售</span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label hidden-xs hidden-sm">产品名称</label>
            <div class="col-md-8">
                <label class="checkbox-inline" v-for="item in productList">
                    <input v-bind:value="item.Id" v-model="frmTrade.ProductId" type="radio"><span>{{item.Name}}</span>
                </label>
            </div>
        </div>
        <div class="form-group" v-bind:class="{'has-error':!isPriceValid}">
            <label for="Price" class="col-md-3 control-label hidden-xs hidden-sm">价格</label>
            <div class="col-md-8">
                <input v-model="frmTrade.Price" type="number" step="0.01" class="form-control" id="Price" placeholder="请输入价格(元/斤)">
            </div>
            <span v-if="!isPriceValid" class="col-md-push-3 col-md-8" style="color:red">价格必须为大于0的数字(最多四位小数)</span>
        </div>
        <div class="form-group" v-bind:class="{'has-error':!isWeightValid}">
            <label for="Weight" class="col-md-3 control-label hidden-xs hidden-sm">重量</label>
            <div class="col-md-8">
                <input v-model="frmTrade.Weight" type="number" class="form-control" id="Weight" placeholder="请输入重量(斤)">
            </div>
            <span v-if="!isWeightValid" class="col-md-push-3 col-md-8" style="color:red">重量必须为大于0的数字(最多两位小数)</span>
        </div>
        <div class="form-group">
            <label for="TotalMoney" class="col-md-3 control-label hidden-xs hidden-sm">计算金额</label>
            <div class="col-md-8">
                <input v-bind:value="TotalMoney" type="number" disabled class="form-control" id="TotalMoney" placeholder="计算金额">
            </div>
        </div>
        <div class="form-group" v-bind:class="{'has-error':!isActualMoneyValid}">
            <label for="ActualMoney" class="col-md-3 control-label hidden-xs hidden-sm">成交金额</label>
            <div class="col-md-8">
                <input v-model="frmTrade.ActualMoney" type="number" class="form-control" id="ActualMoney" placeholder="实际金额">
            </div>
            <span v-if="!isActualMoneyValid" class="col-md-push-3 col-md-8" style="color:red">实际金额必须为大于0的数字(最多两位小数)</span>
        </div>
        <div class="form-group" v-bind:class="{'has-error':!isRemarkValid}">
            <label for="Remark" class="col-md-3 control-label hidden-xs hidden-sm">其他信息</label>
            <div class="col-md-8">
                <textarea v-model="frmTrade.Remark" class="form-control" rows="4" id="Remark" placeholder="请输入其他信息"></textarea>
            </div>
            <span v-if="!isRemarkValid" class="col-md-push-3 col-md-8" style="color:red">附加信息不能超过200个字符</span>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-3">
                <button class="btn btn-info pull-left" data-dismiss="modal"> 关闭</button>
                <button class="btn btn-primary pull-right" v-on:click.stop.prevent="save" v-bind:disabled="IsDisabled">保存</button>
            </div>
        </div>
    </form>
    <div slot="footer" style="display:none"></div>
</modal-dialog>