<modal-dialog v-bind:title="PanelTitle" id="saveTradeModal">
    <h4 slot="header" class="modal-title text-center" id="myModalLabel" style="font-weight:bold;">{{PanelTitle}}</h4>
    <div slot="body" class="form-horizontal" role="form" style="margin-top:10px;">
        <div class="form-group">
            <label for="ContactName" class="col-md-3 control-label hidden-xs hidden-sm">客户姓名</label>
            <div class="col-md-6">
                <input v-model="frmTrade.ContactName" type="text" class="form-control" id="ContactName" placeholder="请选择客户姓名">
            </div>
            <div class="col-md-3">
                <button v-on:click.stop.prevent="showContact" class="btn btn-info btn-block">选择</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label hidden-xs hidden-sm">交易类型</label>
            <div class="col-md-8">
                <label class="checkbox-inline">
                    <input value="0" v-model="frmTrade.TradeType" type="radio"><span>收购</span>
                </label>
                <label class="checkbox-inline">
                    <input value="1" v-model="frmTrade.TradeType" type="radio"><span>出售</span>
                </label>
            </div>
        </div>
        <div class="form-group" title="交易列表">
            <div class="col-md-12" id="formDetail">
                <form v-for="(detail,index) in frmTrade.Details" style="border:solid 1px;margin-bottom:2px;">
                    <div class="form-group">
                        <div class="col-md-9" style="text-align:center;">
                            <span v-if="frmTrade.Details.length>1" style="color:blue;padding:10px;display:inline-block;height:30px;">第{{index+1}}个</span>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-danger btn-sm btn-block" v-if="frmTrade.Details.length>1" v-on:click.stop.prevent="delDetailForm(index)">删除</a>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:-20px;">
                        <label class="col-md-3 control-label hidden-xs hidden-sm">粮食名称</label>
                        <div class="col-md-8">
                            <label class="checkbox-inline" v-for="product in detail.ProductList">
                                <span v-on:click.stop="setPrice(detail,product.Id);">
                                    <input v-bind:value="product.Id" v-model="detail.ProductId" type="radio"><span>{{product.Name}}</span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Price" class="col-md-3 control-label hidden-xs hidden-sm">价格</label>
                        <div class="col-md-8">
                            <input v-model="detail.Price" type="number" step="0.01" class="form-control" id="Price" placeholder="请输入价格(元/斤)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="RoughWeight" class="col-md-3 control-label hidden-xs hidden-sm">毛重</label>
                        <div class="col-md-8">
                            <input v-model="detail.RoughWeight" type="number" step="20" class="form-control" id="Weight" placeholder="请输入毛重(斤)">
                        </div>
                        <div v-if="detail.RoughWeight == ''||parseFloat(detail.RoughWeight)<= 0" class="col-md-push-3 col-md-8" style="color:red;">毛重必须为大于0的数字(最多两位小数)</div>
                    </div>
                    <div class="form-group">
                        <label for="Tare" class="col-md-3 control-label hidden-xs hidden-sm">皮重</label>
                        <div class="col-md-8">
                            <input v-model="detail.Tare" type="number" step="20" class="form-control" id="Tare" placeholder="请输入皮重(斤)">
                        </div>
                        <div v-if="detail.Tare.length == 0||parseFloat(detail.Tare)< 0||detail.Tare>detail.RoughWeight" class="col-md-push-3 col-md-8" style="color:red;">皮重必须为大于等于0的数字(最多两位小数),且不能大于毛重</div>
                    </div>
                    <div class="form-group">
                        <label for="ActualMoney" class="col-md-3 control-label hidden-xs hidden-sm">金额</label>
                        <div class="col-md-8">
                            <input v-bind:value="toFixed((detail.RoughWeight-detail.Tare)*detail.Price)" type="number" disabled class="form-control" id="ActualMoney" placeholder="金额">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <button class="btn btn-warning btn-block" style="margin-top:2px;" v-on:click="addNewDetailForm">继续添加</button>
            </div>
        </div>
        <div class="form-group">
            <label for="TotalMoney" class="col-md-3 control-label hidden-xs hidden-sm">总金额</label>
            <div class="col-md-8">
                <input v-bind:value="toFixed(totalMoney)" type="number" class="form-control" disabled id="TotalMoney" placeholder="总金额">
            </div>
        </div>
        <div class="form-group">
            <label for="PaidMoney" class="col-md-3 control-label hidden-xs hidden-sm">已付金额</label>
            <div class="col-md-6 col-xs-8">
                <input v-model="frmTrade.PaidMoney" type="number" class="form-control" id="PaidMoney" placeholder="已付金额">
            </div>
            <div class="col-md-2 col-xs-4"><a class="btn btn-success btn-block" v-on:click="frmTrade.PaidMoney=toFixed(totalMoney)">计算</a></div>
            <div v-if="frmTrade.PaidMoney==''||parseFloat(frmTrade.PaidMoney)<0" class="col-md-push-3 col-md-8 col-xs-12" style="color:red">已付金额应为大于等于0的数字</div>
        </div>
        <div class="form-group">
            <label for="Remark" class="col-md-3 control-label hidden-xs hidden-sm">其他信息</label>
            <div class="col-md-8 ">
                <textarea v-model="frmTrade.Remark" class="form-control" rows="4" id="Remark" placeholder="请输入其他信息"></textarea>
            </div>
            <div v-if="!isRemarkValid" class="col-md-push-3 col-md-8" style="color:red">附加信息不能超过200个字符</div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-3">
                <button class="btn btn-info pull-left" data-dismiss="modal"> 关闭</button>
                <button class="btn btn-primary pull-right" v-on:click.stop.prevent="save" v-bind:disabled="IsDisabled">保存</button>
            </div>
        </div>
    </div>
    <div slot="footer" style="display:none"></div>
</modal-dialog>