<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <!--<root>
      <level value="ALL" />
      <appender-ref ref="sqlite" />
    </root>-->
    <appender name="sqlite" type="log4net.Appender.RollingFileAppender" >

    </appender>
    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender,log4net">
      <!--BufferSize为缓冲区大小-->
      <bufferSize value="1" />
      <!--<param name="BufferSize" value="2" />-->
      <!--引用-->
      <connectionType value="System.Data.SQLite.SQLiteConnection, System.Data.SQLite, Version=1.0.84.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
      <!--<connectionType value="System.Data.SQLite.SQLiteConnection, System.Data.SQLite" />-->
      <!--连接字符串-->
      <connectionString value="Data Source=|DataDirectory|\GrainManageLog.sqlite;Version=3;Synchronous=Off;" />
      <!--插入语句-->
      <commandText value="INSERT INTO [DetailLog] ([AppDomain],[UserName],[Type],[Level],[Identity],[Context],[Request],[Exception],[File],[Location],[Line],[Message],[Method],[Thread],[CreateTime],[RunTime],[Logger],[StackTrace],[StackTraceDetail]) Values(@AppDomain,@UserName,@Type,@Level,@Identity,@Context,@Request,@Exception,@File,@Location,@Line,@Message,@Method,@Thread,@CreateTime,@RunTime,@Logger,@StackTrace,@StackTraceDetail)" />
      <commandType value="Text"/>
      <parameter>
        <parameterName value="@AppDomain" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%appdomain" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@UserName" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%username" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@Type" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%type" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@Level" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@Identity" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%identity" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@Context" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%aspnet-context" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@Request" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%aspnet-request{targetName}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@Exception" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%exception" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@File" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%file" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@Location" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%location" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@Line" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%line" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@Message" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@Method" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%method" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@Thread" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@CreateTime" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@RunTime" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%timestamp" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@Logger" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@StackTrace" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%stacktrace" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@StackTraceDetail" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%stacktracedetail" />
        </layout>
      </parameter>
    </appender>

    <logger name="LogToSqlite">
      <level value="ERROR"/>
      <appender-ref ref="ADONetAppender"/>
    </logger>
  </log4net>
</configuration>
