@using GrainManage.Web
@{
    ViewBag.Title = "修改密码";
}
<div class="container" id="changePwdInfo">
    <div class="row">
        <div class="tab-pane fade in active">
            <form style="max-width:400px; padding: 15px; margin: auto auto;" role="form">
                <h3 style="text-align:center;font-weight:bold;margin-bottom:10px;">修改密码</h3>
                <input id="OldPwd" v-model="OldPwd" type="password" class="form-control input-lg" placeholder="原始密码" style="margin-top:20px;"
                       data-toggle="popover" data-placement="top" data-content="密码不能为空,且只能由2-20个字符组成">
                <input id="NewPwd" v-model="NewPwd" type="password" class="form-control input-lg" placeholder="新密码" style="margin-top:20px;margin-bottom:20px;"
                       data-toggle="popover" data-placement="top" data-content="密码不能为空,且只能由2-20个字符组成">
                <button v-on:click.stop.prevent="changePwd" v-bind:disabled="IsDisabled" class="btn btn-lg btn-primary btn-block">保存</button>
            </form>
        </div>
    </div>
    <div class="row">
        @ControlHelper.Alert("修改密码提示")
    </div>
</div>
<script src="~/Scripts/Crypto/sha1.js"></script>
<script>
    $(function () {
        new Vue({
            el: '#changePwdInfo',
            data: {
                OldPwd: '',
                NewPwd: '',
                IsDisabled: false,
                Msg: ''
            },
            methods: {
                changePwd: function (event) {
                    if (!this.isPwdValid(this.OldPwd)) {
                        $("#OldPwd").popover('show');
                    }
                    else if (!this.isPwdValid(this.NewPwd)) {
                        $("#NewPwd").popover('show');
                    }
                    else if (this.OldPwd == this.NewPwd) {
                        this.Msg = '两次输入的密码不允许相同';
                        $("#myModal").modal({ backdrop: 'static' });
                    }
                    else {
                        this.IsDisabled = true;
                        var sha = new sha1();
                        $.post('@HttpUtil.GetUrl("Account/ChangePassword")', { OldPwd: sha.encrypt(this.OldPwd), NewPwd: sha.encrypt(this.NewPwd) }).always(function (result, status) {
                            this.IsDisabled = false;
                            this.Msg = result.msg;
                            $("#myModal").modal({ backdrop: 'static' });
                        }.bind(this));
                    }
                },
                isPwdValid: function (pwd) {
                    return (/^.{2,20}$/g).test(pwd);
                }
            }
        })
        $("html").click(function () { $('[data-toggle="popover"]').popover('hide') });
    })
</script>
